#welcome {
    width: 440px;
    padding: 20px;
    margin: 0 auto;
    background-color: #dddddd;
    overflow: hidden;
    zoom: 1;
}
#welcome input[type="number"] {
    text-align: right;
    width: 50px;
    margin: 0 2px;
}
#welcome input[type="submit"] {
    float: right;
}

dd {
    margin-bottom: 1em;
}

table th {
    text-align: left;
}

.error-messages {
    color:red;
}