.page-content {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #0dcaf0;

    --tool-bar-height: 25px;
}

.page-content-full-screen {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.tool-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--tool-bar-height);
    line-height: var(--tool-bar-height);
    background-color: #c5c5c5;
}

.tool-btn {
    float: right;
    margin: 0 10px 0 5px;
    font-size: 15px;
}

.tool-btn:hover {
    color: blue;
}

.gantt-container {
    position: relative;
    width: 100%;
    height: calc( 100% - var(--tool-bar-height) ) ;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "corner header"
        "labels content";
    background-color: #e7ffa1;
}

canvas {
    display: block;
}

.gantt-corner {
    grid-area: corner;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #f8f8f8;
}

.gantt-header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow-x: hidden;
    background-color: #ffe8bf;
}

.gantt-labels {
    grid-area: labels;
    position: sticky;
    left: 0;
    z-index: 2;
    overflow-y: auto;
    background-color: #f8f8f8;
}

.gantt-content {
    grid-area: content;
    overflow: auto;
    z-index: 1;
    background-color: #ffffff;
}
