@import "../common.css";

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
}

:host {
  display: block;
  background: #ffffff;
  border-bottom: 1px solid #d6d6d6;
}

#section-header-timer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 16px 6px;
  border-bottom: 1px solid #d6d6d6;
}

#section-header-label {
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}

#exam-timer-display {
  font-weight: 500;
  font-size: 17px;
  color: #555555;
}

#section-tabs-bar {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 5px 4px 5px ;
}

#section-tabs-list {
  display: flex;
  gap: 6px;
}

#section-tabs-next-btn {
  margin-left: auto;
}

.section-tab {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 600;
  background: #ffffff;
  color: var(--exam-primary-blue);
  border: 1px solid #c3c3c1;
}

.section-tab-active {
  background: var(--exam-primary-blue);
  color: #ffffff;
}

.info-icon-outline {
  background: #ffffff;
  color: var(--exam-primary-blue);
  border: 1px solid var(--exam-primary-blue);
}
