.cm-header-1 {
    color: #84be82;
}

.cm-header-2 {
    color: #c0c06e;
}

.cm-header-3 {
    color: #5aa6b2;
}

.cm-header-4 {
    color: #82afda;
}

.cm-header-5 {
    color: #a389d2;
}

.cm-header-6 {
    color: #ee995d;
}
