.page-content {
    --topic-browser-width: 270px;
    --question-selector-height: 650px;
}

#topic-browser {
    position: absolute;
    top: var(--page-toolbar-height);
    left: 0;
    width: var(--topic-browser-width);
    height: calc(100vh - var(--page-header-height) - var(--page-toolbar-height));
    overflow-y: scroll;
    padding: 5px;
    border-right: 1px solid lightgrey;
}

#question-selector-pane {
    position: absolute;
    top: var(--page-toolbar-height);
    left: var(--topic-browser-width);
    width: calc( 100vw - var(--feature-menubar-width) - var(--topic-browser-width)) ;
    height: var(--question-selector-height);
    overflow-y: hidden;
    overflow-x: auto;
}

.q-selector-panel {
    display: inline-block;
    height: 100%;
    background-color: #fafaf3;
    margin-right: 5px;
}

#selected-question-display {
    position: absolute;
    top: calc( var(--page-toolbar-height) + var(--question-selector-height) ) ;
    left: var(--topic-browser-width);
    width: calc( 100vw - var(--feature-menubar-width) - var(--topic-browser-width)) ;
    height: calc( 100% - var(--page-toolbar-height) - var(--question-selector-height)) ;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    padding: 5px;
}

.current-subject-topic {
    display: inline-block;
    margin-left: 10px;
}
