<page-toolbar>
  <toolbar-action name="Save Exam"
                  (click)="updateExam()"
                  icon="plus-square"></toolbar-action>
  <toolbar-action name="Publish Exam"
                  [disabled]="!editSvc.isConfigComplete()"
                  (click)="publishExam()"
                  icon="plus-square"></toolbar-action>
  <div class="current-subject-topic">
    {{activeSyllabus}} - {{selectedTopic?.topicName}}
  </div>
</page-toolbar>
<div class="page-content">
  <div id="topic-browser" topicBrowser
       [topicMap]="topicMap"
       (topicChanged)="topicChanged( $event )"
       (syllabusChanged)="syllabusChanged( $event )">
  </div>

  <div id="question-selector-pane">
    @for( problemType of editSvc.problemTypes; track $index ) {
      <div questionSelector
           class="q-selector-panel"
           [style.width]="getQuestionSelectorWidth()"
           [sectionCfg]="problemTypeSectionMap[problemType]"
           (showQuestion)="questionToShow = $event"
           (hideQuestion)="questionToShow = null">
      </div>
    }
  </div>

  <div id="selected-question-display"
       selectedQuestionDisplay
       [question]="questionToShow">
  </div>
</div>