@import './../exam-setup.css' ;

li {
    list-style-type: none ;
    display: flex;
    align-items: center;
}

.checkbox-group {
    padding-top: 15px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-option {
    margin-right: 10px;
}