<page-toolbar>
  <div ngbDropdown class="d-inline-block action-dropdown">
    <button type="button" class="btn" id="selection-dropdown-items" ngbDropdownToggle>
      Select problems
    </button>
    <div ngbDropdownMenu aria-labelledby="selection-dropdown-items">
      <button ngbDropdownItem
              (click)="selectAllDetachedProblems()">All detached</button>
      <button ngbDropdownItem
              (click)="selectAll()">Select all</button>
      <button ngbDropdownItem
              (click)="deselectAll()">Deselect all</button>
    </div>
  </div>
  &nbsp;
  <div ngbDropdown class="d-inline-block action-dropdown">
    <button type="button" class="btn" id="action-dropdown-items" ngbDropdownToggle>
      Actions for selected problems
    </button>
    <div ngbDropdownMenu aria-labelledby="action-dropdown-items">
      <button ngbDropdownItem
              [disabled]="!hasSelectedProblems()"
              (click)="attachSelectedProblems()">Attach</button>
      <button ngbDropdownItem
              [disabled]="!hasSelectedProblems()"
              (click)="detachSelectedProblems()">Detach</button>
    </div>
  </div>
</page-toolbar>

<div class="page-content">
  <div class="topic-name">
    {{selTopic?.syllabusName}} - {{selTopic?.topicName}}
  </div>
  <table class="table table-sm" id="ch-problem-topic-map-table">
    <thead>
      <tr>
        <th style="width: 30px">
        <span ngClass="bi-{{fullyExpanded?'arrows-collapse':'arrows-expand'}}"
              style="background: transparent;"
              (click)="toggleFullExpansion()"></span>
        </th>
        <th style="width: 75px;">Type</th>
        <th style="width: 150px;">Problem Key</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      @for( ex of data?.exercises; track ex.exerciseNum ) {
        <tr class="exercise-row">
          <td>
            <span ngClass="bi-{{isExpanded( ex.exerciseNum )?'caret-down':'caret-right'}}"
                  style="color: gray;"
                  (click)="toggleChapterExpandedState( ex.exerciseNum )"></span>
          </td>
          <td colspan="3">
            <input type="checkbox" [(ngModel)]="ex.selected"/>
            &nbsp;
            <span (dblclick)="toggleSelectionAllProblemsForExercise( ex )">
              {{ex.exerciseNum}} - {{ex.exerciseName}}
            </span>
          </td>
        </tr>
        @if( isExpanded( ex.exerciseNum ) ) {
          @for( p of ex.problems; track p.problemId ) {
            <tr class="problem-row"
                [class.problem-row-selected]="p.selected">
              <td></td>
              <td (dblclick)="toggleSelectionOfAllProblemsOfType( ex, p.problemType )">{{p.problemType}}</td>
              <td (dblclick)="p.selected = !p.selected">{{p.problemKey}}</td>
              <td>
                @if( p.topic == null ) {
                  <button type="button"
                          class="btn btn-sm btn-success row-btn"
                          (click)="attachProblem( p )">Attach</button>
                }
                @else if ( p.topic.topicId == selTopic?.topicId ) {
                  <button type="button"
                          class="btn btn-sm btn-outline-danger row-btn"
                          (click)="detachProblem( p )">Detach</button>
                }
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>

@if( data != null ) {
  <div class="card problem-summary">
    <h6 class="card-header">{{data!.book.bookShortName}}</h6>
    <div class="card-body">
      <h6 class="card-title">Chapter {{ data!.chapterNum }} - {{ data!.chapterName }}</h6>
      <table class="table table-sm">
        <thead>
        <tr>
          <th style="width: 50px;"></th>
          <th style="width: 50px;text-align: right;"><span class="bi-link"></span></th>
          <th style="width: 50px;text-align: right;"><span class="bi-heart"></span></th>
          <th style="width: 50px;text-align: right;"><span class="bi-ban"></span></th>
          <th style="width: 50px;text-align: right;"><span class="bi-fonts"></span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for( problemType of PROBLEM_TYPES; track $index ) {
            <tr>
              <td>{{ problemType }}</td>
              <td class="number">{{getProblemCount( problemType, ProblemGroup.ATTACHED)}}</td>
              <td class="number">{{getProblemCount( problemType, ProblemGroup.DETACHED)}}</td>
              <td class="number">{{getProblemCount( problemType, ProblemGroup.NOT_AVAILABLE)}}</td>
              <td class="number total-col">{{getProblemCount( problemType)}}</td>
              <td></td>
            </tr>
          }
          <tr class="total-row">
            <td>Total</td>
            <td class="number">{{getTotalProblemCount( ProblemGroup.ATTACHED )}}</td>
            <td class="number">{{getTotalProblemCount( ProblemGroup.DETACHED )}}</td>
            <td class="number">{{getTotalProblemCount( ProblemGroup.NOT_AVAILABLE )}}</td>
            <td class="number">{{getTotalProblemCount()}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>}
