.topic-selection-toolbar {
    width: 100%;
    padding: 5px;
}

.topic-selection-toolbar > button {
    font-size: 12px;
    padding: 1px 7px 1px 7px;
    margin-right: 10px;
}

li {
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 3px;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
}

li.selected {
    background-color: #f3fbd1;
}

input[type="checkbox"] {
    margin-right: 10px;
}

