.q-selector {
    --section-header-height: 30px ;
    --margin-width: 5px;
    --margin-height: 5px;
    height: 100% ;
}

.section-header {
    width: 100% ;
    height: var(--section-header-height) ;
    line-height: var(--section-header-height) ;
    text-align: center ;
    background-color: #9bb6fd;
    font-weight: bold;
}

.available-questions {
    height: calc( (100% - var(--section-header-height))/3 - 2*var(--margin-height) ) ;
    margin: var(--margin-height) 0 calc(2*var(--margin-height)) 0 ;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: white;
    box-shadow:
            inset 1px 1px 3px rgba(0, 0, 0, 0.18),
            inset -1px -1px 3px rgba(255, 255, 255, 0.7);
}

.selected-questions {
    height: calc( 2*(100% - var(--section-header-height))/3 - 2*var(--margin-height) ) ;
    margin: var(--margin-height) 0 0 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #eef8fd;
    box-shadow:
            inset 1px 1px 3px rgba(0, 0, 0, 0.18),
            inset -1px -1px 3px rgba(255, 255, 255, 0.7);
}

.question-list-item {
    font-family: Courier, monospace;
    padding-left: 10px ;
    padding-right: 10px ;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}

.question-list-item:hover {
    background-color: #dceefa;
}

.question-list-item-drop-target {
    background-color: #c7e3ff;
    box-shadow: inset 0 0 0 1px #5c93d6;
}

.question-id {
    float: left;
}

.topic-name {
    float: right;
    color: grey;
    font-size: 10px;
}
