.page-content {
    --pigeon-tree-width : 450px;
}

.pigeon-tree {
    position: absolute;
    top: var(--page-title-height );
    left: 0;
    width: var(--pigeon-tree-width);
    height: calc( 100dvh - var(--page-header-height) - var(--page-title-height ) ) ;
    overflow-y: scroll;
    padding: 10px;
}

.syllabus-name {
    width: 100% ;
    font-size: 16px ;
    padding: 5px 5px 5px 10px ;
    border-radius: 5px;
    font-weight: bold;
}

.topic-name {
    margin-left: 20px ;
    margin-top: 2px;
    background-color: #bdbdbd;
    font-size: 16px ;
    padding: 3px 3px 3px 10px ;
    border-radius: 5px;
}

.bc-name {
    margin-left: 40px ;
    margin-top: 2px;
    background-color: #d5d5d5;
    font-size: 14px ;
    padding: 3px 3px 3px 10px ;
    border-radius: 5px;
}

.pigeon {
    margin-left: 60px ;
    margin-top: 2px;
    background-color: #eaeaea;
    font-size: 14px ;
    padding: 5px 5px 5px 10px ;
    border-radius: 5px;
    color: blue ;
}

.age {
    float: right;
    font-family: monospace;
    font-size: 14px ;
    font-weight: bold;
    color: black;
}

.red {
    color: red;
}

.pigeon > span {
    filter: opacity( 0.5 );
}

.pigeon-selected {
    border: 1px solid red ;
    background-color: #ffdada;
}

.pigeon-details {
    position: absolute;
    top: var(--page-title-height );
    left: var(--pigeon-tree-width);
    width: calc( 100% - var(--pigeon-tree-width) ) ;
    height: calc( 100dvh - var(--page-header-height) - var(--page-title-height ) ) ;
    overflow-y: scroll;
    padding: 10px 10px 10px 0 ;
}

.mono-font {
    font-family: "Courier", Courier, monospace;
}

.icon-green {
    color: green ;
}

.problem-path-1 {
    font-size: 16px;
    margin-bottom: 2px ;
    background-color: #707070;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.problem-path-2 {
    font-size: 14px;
    margin-bottom: 10px ;
    background-color: #c3c3c3;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.button-bar {
    text-align: center;
    margin-top: 10px;
}

.button-bar > button {
    margin: 5px;
}

/* ----------------------------------------------------------------- */
.topic-name-col {
    width: 350px;
}

.qtype-col {
    width: 150px;
}

.syllabus-row {
    font-weight: bold;
    font-size: 1.2em;
}

.syllabus-row td {
    background-color: #eac2c2;
}

.status-chart-container {
    height: 25px;
}

.status-chart-cell {
    font-family: monospace;
    text-align: right;
    padding: 1px;
}

.topic-row td {
    border-right:  solid 1px #dcdcdc;
    border-left:  solid 1px #dcdcdc;
}

.topic-row td:first-child {
    padding-left: 30px;
}