.topic-name-col button {
    height: 25px;
    width: 50px;
    padding: 0 5px 0 5px;
}

.topic-name-col {
    width: 350px;
}

.qtype-col {
    width: 150px;
}

.syllabus-row {
    font-weight: bold;
    font-size: 1.2em;
}

.syllabus-row td {
    background-color: #eac2c2;
}

.status-chart-container {
    height: 25px;
}

.status-chart-cell {
    font-family: monospace;
    text-align: right;
    padding: 1px;
}

.topic-row td {
    border-right:  solid 1px #dcdcdc;
    border-left:  solid 1px #dcdcdc;
}

.topic-row td:first-child {
    padding-left: 30px;
}
