<page-title></page-title>
<alerts-display></alerts-display>
<div class="page-content">
  <table class="table table-sm" style="margin: 0 auto; width: 90%;">
    <thead>
    <tr>
      <th class="topic-name-col"></th>
      <th class="qtype-col">SCA</th>
      <th class="qtype-col">MCA</th>
      <th class="qtype-col">LCT</th>
      <th class="qtype-col">MMT</th>
      <th class="qtype-col">CMT</th>
      <th class="qtype-col">ART</th>
      <th class="qtype-col">NVT</th>
      <td class="qtype-col">Total ({{numQuestions}})</td>
    </tr>
    </thead>
    <tbody>
      @for ( item of syllabusStatusMap | keyvalue; track item.key ) {
        @let sylStatus = item.value ;
        <tr class="syllabus-row">
          <td colspan="9">{{ sylStatus.syllabusName }}</td>
        </tr>
        @for ( topicStat of sylStatus.topicStats; track topicStat.topicId ) {
          <tr class="topic-row">
            <td>{{topicStat.topicName}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['SCA']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['MCA']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['LCT']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['MMT']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['CMT']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['ART']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.questionTypeStats['NVT']?.numQuestions ?? 0}}</td>
            <td class="numeric-cell">{{topicStat.numQuestions}}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
