<page-title></page-title>
<alerts-display></alerts-display>
<div class="page-content">
  <table class="table table-sm" style="margin: 0 auto; width: 90%;">
    <thead>
    <tr>
      <th class="topic-name-col">
        <button type="button" class="btn btn-sm btn-info"
                (click)="refresh()">
          <span class="bi-arrow-clockwise">&nbsp;</span>
        </button>
      </th>
      <th class="qtype-col">SCA</th>
      <th class="qtype-col">MCA</th>
      <th class="qtype-col">LCT</th>
      <th class="qtype-col">MMT</th>
      <th class="qtype-col">CMT</th>
      <th class="qtype-col">ART</th>
      <th class="qtype-col">NVT</th>
      <td class="qtype-col">Total ({{numQuestions}})</td>
    </tr>
    </thead>
    <tbody>
      @for ( item of syllabusStatusMap | keyvalue; track item.key ) {
        @let sylStatus = item.value ;
        @let sylName = sylStatus.syllabusName ;
        <tr class="syllabus-row" (click)="toggleSyllabusExpandedState( sylName )">
          <td colspan="9"
              [ngStyle]="{'background-color':sylStatus.color}">
            <span [ngClass]="isSyllabusExpanded( sylName ) ? 'bi-caret-down-fill' : 'bi-caret-right-fill'" ></span>
            &nbsp;
            {{ sylStatus.syllabusName }}
          </td>
        </tr>
        @if( isSyllabusExpanded( sylName ) ) {
          @for ( topicStat of sylStatus.topicStats; track topicStat.topicId ) {
            <tr class="topic-row">
              <td>{{topicStat.topicName}}</td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['SCA']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['SCA']"
                                  (click)="openQuestionBrowser( topicStat.topicId, 'SCA' )">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['MCA']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['MCA']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['LCT']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['LCT']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['MMT']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['MMT']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['CMT']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['CMT']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['ART']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['ART']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  @if(topicStat.questionTypeStats['NVT']) {
                    <status-chart [maxValue]="maxQuestionInCell"
                                  [statusData]="topicStat.questionTypeStats['NVT']">
                    </status-chart>
                  }
                </div>
              </td>
              <td class="status-chart-cell">
                <div class="status-chart-container">
                  <status-chart [maxValue]="maxQuestionsInTopicTotals"
                                [statusData]="topicTotalMap[topicStat.topicId]">
                  </status-chart>
                </div>
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
