<div class="page-content">
  <table class="table table-sm table-striped book-topics-table">
    <tbody>
      @for( btm of bookTopicMappingList; track btm.book.id ) {
          <tr class="book-row">
            <td>
              <input type="checkbox" [(ngModel)]="btm.book.topicMappingDone"
                     (ngModelChange)="bookTopicMappingDoneFlagChanged( btm.book )"/>&nbsp;
              {{btm.book.seriesName}} -
              {{btm.book.author}} -
              <span class="book-name">{{btm.book.bookName}}</span>
            </td>
          </tr>
        @for( ctm of btm.chapterTopicMappings; track ctm.chapterNum ) {
          <tr class="chapter-row"
              [class.selected-chapter]="ctm.selected"
              (click)="chapterSelected(ctm)">
            <td>
              <div class="chapter-name">{{ctm.chapterNum + ' - ' + ctm.chapterName}}</div>
              @for( tm of ctm.topics; track tm.topicId ) {
                <closeable-badge text="{{topicMap[tm.topicId].topicName}}"
                                 (close)="topicDisassociated(tm)"/>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

@if( Object.keys( topicMap ).length > 0 ) {
  <div class="topic-container">
    <table class="table table-sm table-striped">
      <thead class="topic-table-header">
      <th style="width: 60%">Topic Name</th>
      <th style="width: 40%">Section</th>
      </thead>
      <tbody>
        @for( t of Object.values( topicMap ); track t.topicId ) {
          <tr class="topic-row"
              [class.selected-topic]="t.isMappedToSelectedChapter"
              (dblclick)="associateTopicWithSelectedChapter(t)">
            <td>{{t.topicName}}</td>
            <td>{{t.sectionName}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
