<page-toolbar>
  <toolbar-action name="IIT Maths"
                  icon="calculator"
                  (click)="changeSyllabus( 'IIT Maths' )"></toolbar-action>
  <toolbar-action name="IIT Physics"
                  icon="gear"
                  (click)="changeSyllabus( 'IIT Physics' )"></toolbar-action>
  <toolbar-action name="IIT Chemistry"
                  icon="droplet-half"
                  (click)="changeSyllabus( 'IIT Chemistry' )"></toolbar-action>
  <toolbar-action name="Reasoning"
                  icon="puzzle"
                  (click)="changeSyllabus( 'Reasoning' )"></toolbar-action>
</page-toolbar>
<div class="page-content">
  <table class="table table-sm" id="topic-chapter-mapping-table">
    <thead>
      <tr>
        <th class="icon-col"></th>
        <th class="icon-col"></th>
        <th style="width:250px" class="book-name">Book Name</th>
        <th style="width:400px">Chapter Name</th>
        <th class="icon-col" style="width: 50px;"></th>
        @for( problemType of PROBLEM_TYPES; track $index ) {
          <th style="width: 40px;text-align: right;">{{problemType}}</th>
        }
        <th style="width: 40px;text-align: right;"><span class="bi-plus-circle"></span></th>
        <th class="width:*"></th>
      </tr>
    </thead>
    <tbody>
    @for( tcm of topicChapterMappings(); track tcm.topicId ) {
      <tr class="topic-row">
        <td [attr.colspan]="5">{{tcm.topicName}}</td>
        @for( problemType of PROBLEM_TYPES; track $index ) {
          <td class="number bordered">
            {{tcm.problemTypeCountMap[problemType]}}
          </td>
        }
        <td class="number bordered total-col">{{tcm.problemCount}}</td>
        <td></td>
      </tr>
      @for( ch of tcm.chapters; track ch.mappingId ) {
        <tr class="chapter-row"
            (dblclick)="selectChapter(ch.mappingId)"
            [class.chapter-selected]="ch.selected">
          <td class="icon-col">
            <span class="bi-arrow-up-circle" *ngIf="$index>0"
                  (click)="moveChapter( tcm, $index, 'up' )"></span>
          </td>
          <td class="icon-col">
            <span class="bi-arrow-down-circle" *ngIf="$index<$count-1"
                  (click)="moveChapter( tcm, $index, 'down')"></span>
          </td>
          <td class="book-name">{{ ch.bookShortName }}</td>
          <td>{{ ch.chapterNum }} - {{ ch.chapterName }}</td>
          <td>
            <input type="checkbox" class="row-checkbox"
                   [(ngModel)]="ch.problemMappingDone"
                   (ngModelChange)="toggleProblemMappingDone( ch )"/>
            <span class="bi-list-check"
                  (click)="showChapterProblemsForTopicLinkage( ch.mappingId, tcm.topicId, ch.bookId, ch.chapterNum )"></span>
          </td>
          @for( problemType of PROBLEM_TYPES; track $index ) {
          <td class="number bordered">
            {{ch.problemTypeCountMap[problemType]}}
          </td>
          }
          <td class="number bordered total-col">{{ch.problemCount}}</td>
          <td></td>
        </tr>
      }
    }
    </tbody>
  </table>
</div>

