<page-toolbar>
  <toolbar-action name="IIT Physics"
                  icon="gear"
                  (click)="changeSyllabus( 'IIT Physics' )"></toolbar-action>
  <toolbar-action name="IIT Chemistry"
                  icon="droplet-half"
                  (click)="changeSyllabus( 'IIT Chemistry' )"></toolbar-action>
  <toolbar-action name="IIT Maths"
                  icon="calculator"
                  (click)="changeSyllabus( 'IIT Maths' )"></toolbar-action>
</page-toolbar>
<div class="page-content">
  Topic chapter list works!
</div>

