#topic-chapter-mapping-table thead th {
    background-color: lightgrey;
}

.topic-row td {
    background-color: rgb(211, 240, 252);
    padding: 5px;
    font-weight: bold;
}

.book-name {
    padding-left:20px;
}

.chapter-selected td {
    background-color: yellow;
}

.icon-col {
    width: 20px;
    color: #5e5e5e;
}

.row-checkbox {
    margin-right: 5px;
}

.bordered {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

