.burn-bar {
    width: 100%;
}

.burn-cell {
    position: relative;
    border: 1px solid #303030;
    height: 20px;
}

.override-marker::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #30AF30;
    transform: translate(-50%, -50%);
}

.under-burn {
    background-color: #325132;
}

.normal-burn {
    background-color: #4d704d;
}

.over-burn {
    background-color: lightgreen;
}

.unburnt {
    background-color: darkred;
}

.current-burn-marker {
    border-right: 2px solid white ;
}

.required-burn-marker {
    border-right: 2px solid greenyellow ;
}