<div class="jump-screen-body">

  <target-screen-btn targetScreenId="NEW_SESSION"
                     bgColor="#46683b"
                     iconName="mortarboard"
                     link="/apps/jee/session/index.html">
    New Session
  </target-screen-btn>

  <target-screen-btn targetScreenId="DASHBOARD_SCREEN"
                     bgColor="#666850"
                     iconName="grid-3x2-gap">
    Dashboard
  </target-screen-btn>

  <target-screen-btn targetScreenId="CLOCK_SCREEN"
                     bgColor="#2c3c68"
                     iconName="clock">
    Clock
  </target-screen-btn>

</div>
