<div class="page-content">
    <test-setup [hidden]="state !== 'setup'"
                [config]="gameCfg"
                (startGameEvent)="handleStartTestEvent( $event )">
    </test-setup>
    <div [hidden]="state !== 'focus'"
         class="focus-page">
        {{ focusTimeLeft }}
    </div>
    <test-play [hidden]="state !== 'play'"
               (endTestEvent)="handleEndTestEvent( $event )">
    </test-play>
    <test-result [hidden]="state !== 'results'"
                 (setupTestEvent)="handleSetupTestEvent()">
    </test-result>
</div>
