<div class="nta-logo">
  <img ngSrc="/img/NTA_exam_logo.png"  alt="NTA logo" width="449" height="80" priority>
</div>

<div class="candidate-details">
  <img class="candidate-photo"
       ngSrc="/img/photograph_sm.jpg"
       alt="Candidate photo"
       width="60" height="75">

  <div class="timer-panel">
    <div class="timer-panel-row">
      <span class="timer-panel-row-label">Candidate Name</span>
      <span class="timer-panel-separator">:</span>
      <span class="timer-panel-row-value">Arunima Deb</span>
    </div>
    <div class="timer-panel-row">
      <span class="timer-panel-row-label">Subject Name</span>
      <span class="timer-panel-separator">:</span>
      <span class="timer-panel-row-value">JEE Main</span>
    </div>
    <div class="timer-panel-row">
      <span class="timer-panel-row-label">Remaining Time</span>
      <span class="timer-panel-separator">:</span>
      <span class="timer-panel-row-value">
            <span class="timer">
              {{ getRemainingTime() }}
            </span>
          </span>
    </div>
  </div>
</div>

<div class="question-paper">
  <button type="button" class="btn btn-info btn-xs">
    Question Paper
  </button>
</div>

