<modal-dialog [show]="show()"
              [title]="'Import Compound'"
              (hide)="cancel.emit()"
              (confirm)="importCompound()"
              [width]="500" [height]="250"
              [messages]="importDialogMsgs">
  <div class="label">Query string:</div>
  <div>
    <input type="text" [(ngModel)]="importQueryParams.filterText"/>
  </div>
  <div class="label">Query type:</div>
  <div>
    <input type="radio" id="import-type-name" name="importType" value="name" [(ngModel)]="importQueryParams.importType">
    &nbsp;
    <label class="label" for="import-type-name">Name</label>
    &nbsp;
    &nbsp;
    <input type="radio" id="import-type-formula" name="importType" value="formula" [(ngModel)]="importQueryParams.importType">
    &nbsp;
    <label class="label" for="import-type-formula">Formula</label>
    &nbsp;
    &nbsp;
    <input type="radio" id="import-type-smiles" name="importType" value="smiles" [(ngModel)]="importQueryParams.importType">
    &nbsp;
    <label class="label" for="import-type-smiles">SMILES</label>
  </div>
  <div>
    <span class="label">Override local copy if exists:</span> &nbsp;
    <input type="checkbox" [(ngModel)]="importQueryParams.forceImport">
  </div>
  <span confirm-btn-text>
    Save
    <img *ngIf="serverCommInProgress" class="wait-img" src="/core-assets/modal-wait.gif"/>
  </span>
</modal-dialog>