@if( uiSvc.ready() && stateSvc.dashboardState() != null ) {
  @for( sylState of stateSvc.dashboardState()!.syllabusStates; track sylState.syllabusName ) {
    @if( uiSvc.syllabusMap[sylState.syllabusName]; as syllabus ) {
    <div class="syllabus-state"
         [style.border-left-color]="syllabus.color">
      <img class="icon"
           [src]="'img/' + syllabus.iconName"
           [style.filter]="uiSvc.getSyllabusCSSImgFilter( sylState.syllabusName )" alt="Syllabus Image"/>

      <span class="syllabus-name"
            [style.color]="syllabus.color">
        {{sylState.syllabusName}}
      </span>

      <span class="syllabus-duration">
        {{sylState.duration*1000 | duration}}
      </span>

      @for( topicState of sylState.topicStates; track topicState.topicName ) {
        <div class="topic-state" [routerLink]="['/topic-detail', topicState.topicId]">
          <div class="topic-name">
            {{topicState.topicName}}
            <span class="burn-ratio">
              [{{topicState.numProblemsSolvedToday}}/{{topicState.requiredBurnRate}}]
            </span>
            <span class="active-pigeons" *ngIf="topicState.numPigeons>0">
              (<span class="bi-twitter"></span> <span class="num-pigeons"> {{topicState.numPigeons}}</span>)
            </span>
            <span class="burn-stress-zone" [style.color]="topicState.burnStressZoneColor">
              [{{topicState.burnStressZone}}]
            </span>
          </div>
          <burn-bar [currentBurnRate]="topicState.currentBurnRate"
                    [requiredBurnRate]="topicState.requiredBurnRate"
                    [numProblemsSolvedToday]="topicState.numProblemsSolvedToday"></burn-bar>
        </div>
      }
    </div>
    }
  }

  <div class="total-duration">
    {{stateSvc.dashboardState()!.totalDuration*1000 | duration}}
  </div>
}
@else {
  <div class="loading">Loading&hellip;</div>
}