.page-content {
    --selection-panel-height: 77px ;
    --left-panel-width: 45% ;
    --right-panel-width: 55% ;
}

/* ----------------------------------------------------------------------------- */
/*                         Topic Selection Panel                                 */
/* ----------------------------------------------------------------------------- */
.topic-selection-panel {
    position: absolute ;
    top: var(--page-title-height) ;
    left: 0 ;
    height: var( --selection-panel-height ) ;
    padding-top: 5px;
    padding-bottom: 5px;
    width: var( --left-panel-width ) ;
    background-color: #dcdcdc;
}

.topic-selection-panel select {
    display: inline-block;
    width: initial;
    margin: 2px 10px 2px 10px;
    background-color: #737373;
    border: none;
    color: white;
}

.action-bar {
    font-size: 16px ;
}

.selected-problems-action-bar {
    float: right;
    padding: 5px 35px 0 10px ;
}

.expand-collapse-action-bar {
    float: left;
    padding: 5px 35px 0 10px ;
}

.expand-collapse-action-bar span {
    background-color: #a5a5a5;
    margin-left: 10px ;
    border-radius : 8px ;
}

/* ----------------------------------------------------------------------------- */
/*                         Problem List Container                                */
/* ----------------------------------------------------------------------------- */
.problem-list-container {
    position: absolute ;
    top: calc( var(--page-title-height) + var(--selection-panel-height) ) ;
    left: 0 ;
    height: calc( 100dvh - var(--page-header-height) - var(--page-title-height) - var(--selection-panel-height) ) ;
    width: var( --left-panel-width ) ;
    color: black;
    font-size: 13px;
    overflow-y: scroll;
    padding: 0 10px 5px 5px;
    background-color: #dcdcdc;
}

.problem-list-container thead th {
    background-color: transparent ;
}

.book-chapter-name td {
    font-size: 16px ;
    background-color: #606060;
    color: yellow ;
    font-weight: bold ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.exercise-name td {
    font-size: 14px ;
    padding-left: 20px ;
    font-weight: bold;
    background-color: #8f8f8f;
    color: white;
    border-radius: 10px;
}

.problem-row td {
    padding: 2px;
    background-color: transparent;
}

.selection-checkbox {
    display: inline-block ;
    padding-right: 10px;
}

.selection-checkbox input[type=checkbox] {
    float: right;
    width : 12px;
    height: 12px;
}

.problem-name {
    padding-left: 20px !important;
    vertical-align: center !important;
}

.problem-assigned td {
    color: gray;
    background-color: #ececec;
}

.problem-correct td {
    color: darkgreen;
    background-color: #f1fde9;
}

.problem-incorrect td {
    color: red;
    background-color: #f1fde9;
}

.problem-redo td {
    color: #6b03c6;
    background-color: #f5e9ff;
}

.problem-later td {
    color: #303030;
    background-color: #ececec;
}

.problem-purge td {
    color: brown;
    background-color: #faede9;
}

.problem-pigeon td {
    color: red;
    background-color: #ffede6;
    font-weight: bold;
}

.problem-pigeon-solved td {
    color: #ac0000;
    background-color: #e6f9ff;
}

.problem-pigeon-explained td {
    color: blue;
    background-color: #e6f9ff;
}

.num-attempts {
    padding-right: 20px;
    font-family: monospace;
}

.duration {
    font-family: monospace;
    text-align: right;
    font-size: 11px;
}

.problem-selected {
    border: 2px solid #ff8f8f !important;
}

.problem-difficulty-medium {
    color: orange ;
}

.problem-difficulty-high {
    color: brown ;
}

.problem-difficulty-exceptional {
    color: red ;
}

/* ----------------------------------------------------------------------------- */
/*                         Problem History Container                             */
/* ----------------------------------------------------------------------------- */
.problem-history-container {
    position: absolute ;
    top: var(--page-title-height) ;
    height: calc( 100dvh - var(--page-header-height) - var(--page-title-height) ) ;
    color: black;
    font-size: 13px;
    overflow-y: scroll;
    left: 45% ;
    width: 55% ;
    padding: 20px 50px 5px 50px;
    background-color: #dcdcdc;
}

.button-bar {
    text-align: center;
    margin-top: 10px;
}

.button-bar > button {
    margin: 5px;
}

.problem-action-bar {
    text-align: center;
}

.problem-action {
    padding: 0 7px 0 7px;
}