@import "../exam-eval.common.css";

.card {
    box-shadow:  5px 5px 10px rgba(2, 0, 0, 0.4);
    --bs-card-border-color: #b5b5b5;
}

.card-header {
    --bs-card-cap-padding-y: 5px;
    --bs-card-cap-bg: #e3e3e3;
    --bs-card-border-width: 1px;
}

.card-body {
    padding: 10px 5px 10px 5px;
}

.card-footer {
    --bs-card-cap-padding-y: 2px;
    --bs-card-cap-bg: #ededed;
    --bs-card-border-width: 1px;
}

.question-card {
    width: 100% ;
    margin-bottom: 20px;
    margin-right: 10px;
}

.topic-name {
    font-weight: bold;
    margin-right: 10px;
}

.question-id {
    color: blue;
    margin-right: 10px;
}

.problem-db-id {
    color: brown;
    margin-right: 10px;
}

.problem-type {
    color: #0b3d28;
    font-weight: bold;
}

.answer {
    font-weight: bold;
}

.question-img {
    filter: opacity(75%) ;
    display: block;
}

.problem-rating {
    display: inline-block;
    float: right;
    text-align: center;

    font-size: 15px;
    font-weight: lighter;
    color: #8c8c8c;
}

.marks-override-panel {
    display: inline-block;
    float: right;
}

.mark-override-input {
    border: 1px solid lightgrey;
    font-size: 12px;
    margin-right: 10px;
}

.mark-save-btn {
    color: blue ;
    font-weight: bold;
}

.pop-out {
    display: inline-block;
    margin-left: 30px;
}

.fullscreen-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(211 211 211 / 0.87);
    padding: 10px;

    display: flex;
    align-items: center;      /* vertical centering */
    justify-content: center;  /* horizontal centering */
    overflow: hidden;
}

.popup-close-btn {
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.popup-close-btn button {
    padding: 0 10px;
    font-size: 11px;
}

.full-screen-card-body {
    max-height: calc(100dvh - 100px);
    overflow-y: scroll;
}