@import './../exam-setup.css' ;

.radio-group {
    padding-top: 15px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}
