/* ------------ Bootstrap overrides ------------------------ */

.card {
    box-shadow:  5px 5px 10px rgba(161, 161, 161, 0.4);
    --bs-card-border-color: #b5b5b5;
}

.card-header {
    --bs-card-cap-padding-y: 5px;
    --bs-card-cap-bg: #9f9f9f;
    --bs-card-border-width: 1px;
    font-size: 15px;
    font-weight: bold;
}

.card-body {
    padding: 10px 5px 10px 5px;
    min-height: 100px;
}

.card-footer {
    --bs-card-cap-padding-y: 2px;
    --bs-card-cap-bg: #fdf9f9;
    --bs-card-border-width: 1px;
    text-align: center;
}

/* ------------------- Application styles ------------------ */

.wizard-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wizard-step {
    color: yellow;
    font-size: 14px;
    float: right;
    font-weight: bold;
}

.wizard-btn {
    float: right;
    padding: 2px 10px 2px 10px;
    font-size: 14px;
}