<div class="q-action-btn-panel">
  <button type="button" class="btn q-action-btn"
          style="background-color: #5DB85B; border-color: #50a14e"
          (click)="saveAndNext()">
    SAVE & NEXT
  </button>
  <button type="button" class="btn q-action-btn"
          style="background-color: #F1AD4E; border-color: #d69b48"
          (click)="saveAndMarkForReview()">
    SAVE & MARK FOR REVIEW
  </button>
  <button type="button" class="btn q-action-btn"
          style="background-color: whitesmoke; color:#4c4b4b;"
          (click)="clearResponse()">
    CLEAR RESPONSE
  </button>
  <button type="button" class="btn q-action-btn"
          style="background-color: #327BB7; border-color: #296393"
          (click)="markForReviewAndNext()">
    MARK FOR REVIEW & NEXT
  </button>
</div>