.prev-next-btn-panel {
    float: left;
}

.pn-btn {
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 1px;
    background-color: #ffffff ;
    border: 1px solid lightgrey;
}

.submit-btn-panel {
    float: right;
    margin-right: 20px;
}

.submit-btn {
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 1px;
    background-color: #5BB85B ;
    color: white;
    border: 1px solid lightgrey;
}