.topic {
    width: calc(100%);
    min-height: var(--min-topic-height);
    border-radius: var(--border-radius);
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #cacaca;
}

.topic-title {
    width: 100%;
    height: var(--topic-title-height);
    background-color: #649ffb;
    font-size: var(--topic-title-font-size);
    padding-left: var(--pad-sm) ;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.topic-body {
    width: 100%;
    height: calc( var(--min-topic-height) - var(--topic-title-height) );
    display: block;
    padding-left: var(--pad-sm) ;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: #dcecff;
}