.page-body {
    background: #787878;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100dvw);
    height: calc(100dvh);
    overflow: hidden;
    overflow-y: scroll;
}

.test-ques-stats {
    padding: 8px 13px;
    background-size: 100% 100%;
}

.test-ques {
    display: inline-block;
    padding: 10px 10px;
    background-size: 100% 100%;
    margin: 5px;
    font-size: 13px;
}

.test-ques:hover {
    cursor: pointer;
}

.q-not-visited {
    background: url("../../public/img/QuizIcons/Logo1.png") no-repeat;
    color: #303030 !important;
    background-size: 100% 100%;
}

.q-not-answered {
    background: url("../../public/img/QuizIcons/Logo2.png") no-repeat;
    border-color: #33414E;
    color: #fff;
    background-size: 100% 100%;
}

.q-answered {
    background: url("../../public/img/QuizIcons/Logo3.png") no-repeat;
    color: #fff !important;
    background-size: 100% 100%;
}

.q-marked-for-review {
    background: url("../../public/img/QuizIcons/Logo4.png") no-repeat;
    color: #fff !important;
    background-size: 100% 100%;
}

.q-ans-marked-for-review {
    background: url("../../public/img/QuizIcons/Logo5.png") no-repeat;
    color: #fff !important;
    background-size: 100% 100%;
}
