@if( examSvc.activeQuestion ) {
  @let question = examSvc.activeQuestion ;
  <div #questionDisplayContainer class="question-display-container">

    <div class="question-header">
      <div class="question-no-label">
        Question {{ question.index }}:
      </div>
      <div class="scroll-icon"
           (click)="scrollDown()">
        <img ngSrc="img/QuizIcons/down.png" alt="Down" height="30" width="30">
      </div>
    </div>

    <div class="question-statement">
      @let images = question.questionConfig.question.questionImages ;
      @for( img of images; track img.fileName ) {
        <img class="img-fluid question-img"
             [src]="getImgURL(question.questionConfig.question, img)"
             [width]="850"
             [alt]="img.fileName"/>
      }
    </div>

    @let problemType = question.questionConfig.question.problemType ;
    @if( problemType === "SCA" ) {
      <sca-answer-zone [question]="question"
                       (answerEntered)="answerEntered( $event )"/>
    }
    @else if ( problemType === "NVT" ) {
      <nvt-answer-zone [question]="question"
                       (answerEntered)="answerEntered( $event )"/>
    }

    <div class="question-footer">
      <div class="scroll-icon"
           (click)="scrollUp()">
        <img ngSrc="img/QuizIcons/up.png" alt="Up" height="30" width="30">
      </div>
    </div>
  </div>
}
