<page-header [title]="title"></page-header>
<div class="landing-page-body">
    <div ngbAccordion>
        <div *ngFor="let section of sections;"
             ngbAccordionItem [collapsed]="section.collapsed ?? false" >
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ section.name }}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngFor="let m of section.modules;"
                             class="tile"
                             [style.background-color]="m.bgcolor ?? '#acf4ff'">
                            <div class="tilecontent">
                                <div class="tiletable">
                                    <div class="tiletable-cell"
                                         (click)="goToPage(m.target)">
                                        <i *ngIf="m.icon"
                                           [style.color]="m.iconcolor ?? 'black'"
                                           class="bi bi-{{m.icon}} tile-icon"></i>
                                        <span *ngIf="m.name"
                                              [style.color]="m.fgcolor ?? 'black'"
                                              class="tile-name"
                                              [innerHTML]="m.name"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

