<div class="page-content">
  <div class="nta-header">
    <page-header></page-header>
  </div>
  <div class="section-header">
    <section-header></section-header>
  </div>
  <div class="question-display-panel"
       [style.width]="questionDisplayWidth()">
    <question-display></question-display>
  </div>
  <div class="question-action-panel"
       [style.width]="questionDisplayWidth()">
    <question-action-panel></question-action-panel>
  </div>
  <div class="submit-panel"
       [style.width]="questionDisplayWidth()">
    <submit-panel></submit-panel>
  </div>
  <div class="question-palette"
       [style.width]="paletteDisplayWidth()">
    <question-palette></question-palette>
  </div>
  <div class="palette-toggle"
       [style.right]="paletteDisplayWidth()"
       (click)="paletteCollapsed = !paletteCollapsed">
    <span [ngClass]="paletteCollapsed? 'bi-chevron-left' : 'bi-chevron-right'"></span>
  </div>
</div>