.page-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    padding: 0;

    --nta-header-height: 80px;
    --section-header-height: 60px;
    --q-action-panel-height: 55px;
    --submit-panel-height: 60px;
}

.nta-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nta-header-height) ;
    background-color: #ffffff;
    vertical-align: center;
}

.section-header {
    position: absolute;
    top: var(--nta-header-height);
    left: 0;
    width: 100%;
    height: var(--section-header-height);
    background-color: #F7931F;
}

.question-display-panel {
    position: absolute;
    top: calc(var(--nta-header-height) + var(--section-header-height));
    left: 0;
    height: calc( 100dvh - var(--nta-header-height) - var(--section-header-height) - var(--submit-panel-height) - var(--q-action-panel-height));
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
}

.question-palette {
    position: absolute;
    top: calc(var(--nta-header-height) + var(--section-header-height));
    right: 0;
    height: calc( 100dvh - var(--nta-header-height) - var(--section-header-height));
    background-color: #ffffff;
}

.submit-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--submit-panel-height);
    background-color: #F3F3F3;
    border-top: 1px solid lightgrey;
    padding-left: 50px;
    vertical-align: middle;
    line-height: var(--submit-panel-height);
}

.question-action-panel {
    position: absolute;
    bottom: var(--submit-panel-height);
    left: 0;
    height: var(--q-action-panel-height);
    background-color: white;
    border-top: 1px solid grey;
    padding-left: 50px;
    vertical-align: middle;
    line-height: var(--q-action-panel-height);
}

.palette-toggle {
    position: absolute;
    top: calc(100dvh/2) ;
    height: 55px;
    width: 25px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.palette-toggle span {
    line-height: 55px;
    font-size: 25px;
}