<page-title></page-title>
<alerts-display></alerts-display>
<div class="page-content">
  <div id="track-pane">
    @for( track of svc.syllabusTracks[svc.selectedSyllabus()]; track track.id ) {
      <div class="track"
           [style.background-color]="track.color"
           [style.width]="getTrackWidth()">
        <div class="track-title"
             [style.background-color]="svc.trackColors[track.id]">{{ track.trackName }}</div>
        <div class="topic-list">
        </div>
      </div>
    }
  </div>
  <div id="property-pane">
    <config-pane></config-pane>
  </div>
</div>

