<page-title></page-title>
<alerts-display></alerts-display>
<div class="page-content">
  <div id="track-pane"
       [style.width]="trackPanelWidth"
       [style.height]="getTrackPanelHeight()">
    @if( svc.selectedSyllabus() ) {
      @let tracks = svc.selectedSyllabus()!.tracks ;
      @for( track of tracks ; track track.id ) {
        <study-track [track]="track"></study-track>
      }
    }
  </div>

  <div id="config-pane"
       [style.width]="configPanelWidth"
       [style.height]="getTrackPanelHeight()">
    <config-pane></config-pane>
  </div>

  <div id="gantt-pane"
       [style.height]="ganttPanelHeight">
    <topic-schedule-gantt></topic-schedule-gantt>
  </div>

  <div id="config-pane-pull-tab"
       [style.right]="configPanelWidth"
       (click)="toggleConfigPane()">
    @if( isConfigPaneVisible() ) {
      <span class="bi-chevron-right"></span>
    }
    @else {
      <span class="bi-chevron-left"></span>
    }
  </div>

  <div id="gantt-pane-pull-tab"
       [style.bottom]="ganttPanelHeight"
       (click)="toggleGanttPane()">
    @if( isGanttPaneVisible() ) {
      <span class="bi-chevron-down"></span>
    }
    @else {
      <span class="bi-chevron-up"></span>
    }
  </div>
</div>

