.page-content {
    --pad-xs: 3px;
    --pad-sm: 5px;
    --pad-lg: 10px;
    --border-radius:8px;
}

#track-pane {
    position: absolute;
    top: calc(var(--page-title-height));
    left: 0;
    height: calc(100% - var(--page-title-height));
}

#config-pane {
    background-color: var( --page-title-bgcolor );
    position: absolute;
    top: calc(var(--page-title-height));
    right: 0;
    height: calc(100% - var(--page-title-height));
}

#config-pane-pull-tab {
    position: absolute;
    top:calc(var(--page-title-height));
    width: 20px;
    height: 30px;
    background-color: var( --page-title-bgcolor ) ;
    color: white;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#gantt-pane {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #c9d0d5;
    width: 100%;
    border-top: 2px solid #616161;
}

#gantt-pane-pull-tab {
    position: absolute;
    width: 30px;
    right: 0;
    height: 20px;
    background-color: lightgrey ;
    color: black;
    font-size: 20px;
    line-height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}