.page-content {
    --pad-xs: 3px;
    --pad-sm: 5px;
    --track-title-height: 1.8rem;
    --track-title-font-size: 1rem;
    --min-topic-height:100px;
    --topic-title-height: 23px;
    --topic-title-font-size: 15px;
    --border-radius:5px;
}

#track-pane {
    position: absolute;
    top: calc(var(--page-title-height));
    left: 0;
    height: calc(100% - var(--page-title-height));
    width: 80%;
}

#property-pane {
    background-color: #fff3c6;
    position: absolute;
    top: calc(var(--page-title-height));
    right: 0;
    height: calc(100% - var(--page-title-height));
    width: 20%;
    padding: var(--pad-xs);
}

