img[class='icon'] {
    width: 35px;
    height: 35px;
}

.session {
    border-left: 2px solid;
    border-bottom: 1px dashed #959595;
    margin: 5px 0 20px 0;
    padding: 5px;
}

.topic-name {
    font-size: 17px;
    margin-left: 5px;
}

.problem-attempt {
    margin: 7px 0 5px 15px;
    border-left: 5px solid #4c4c4c;
    border-bottom: 1px solid #323232;
    padding: 5px 0 5px 10px ;
}

.problem-attempt-details {
    font-size: 12px;
}

.problem-state-icon {
    font-size: 17px;
    padding-right: 10px ;
}

.problem-key {
    font-size: 15px;
}

.book-name {
    font-size: 12px;
    color: #636363;
}

.chapter-name {
    color: #636363;
}

.session-details .duration {
    font-size: 15px;
}

.session-details .time-range {
    font-size: 15px;
}

.duration {
    font-size: 13px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.time-range {
    color: #616161;
    font-family: "Courier New", Courier, monospace;
}

.icon {
    color: #9dcafa;
}

.icon-green {
    color: greenyellow;
}

.icon-red {
    color: red;
}

.icon-orange {
    color: orange;
}

.pause {
    margin: 5px 0 5px 15px;
    padding: 0 0 0 10px ;
    background-color: #371515;
}