.accordion-item {
    margin-bottom: 10px;
}

.accordion-button {
    font-size: 16px;
}

.unassigned-topic {
    margin:5px;
    background-color: #e5f0fa;
    border: 1px solid #add3fa;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    cursor: move;
}

.unassigned-topic-list {
    height: 400px;
    overflow-y: auto;
}

.save-changes {
    text-align: center;
    margin: 10px;
}

.sel-topic-name {
    margin:5px;
    background-color: #e5f0fa;
    border: 1px solid #add3fa;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    cursor: move;
}

.sel-schedule-edit-form {
    margin:5px ;
}

.form-row {
    border-bottom: 1px dashed #add3fa;
    padding: 3px 0 3px 0;
}

.field-label {
    display: inline-block;
    width: 125px;
}

.separator {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.field-input {
    display: inline-block;
}

.field-input input {
    border: 1px solid #add3fa;
    width: 50px;
}

.field-input input[type='number'] {
    text-align: right;
    font-family: monospace;
}

.default-btn {
    display:  inline-block;
    float: right;
}

.default-btn button {
    border: none;
    border-radius: 5px;
    background-color: #dcdcdc;
}
