<div ngbAccordion>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Syllabus</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <select class="form-select" [(ngModel)]="svc.selectedSyllabus">
            @for( syllabus of svc.syllabusList; track syllabus.syllabusName ) {
              <option [value]="syllabus.syllabusName">{{syllabus.syllabusName}}</option>
            }
          </select>
        </ng-template>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Unassigned Topics</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if( svc.selectedSyllabus() ) {
            @let topics = svc.syllabusTopics[ svc.selectedSyllabus() ];
            @let titleBgColor = svc.syllabusColors[ svc.selectedSyllabus() ].titleBackground ;

            <div class="unassigned-topic-list">
              @for( topic of topics; track topic.id ) {
                @if( !isTopicAssigned( topic ) ) {
                  <div class="unassigned-topic"
                       [style.background-color]="titleBgColor"
                       [dndDraggable]="topic"
                       [dndEffectAllowed]="'move'"
                       (dndMoved)="topicMoved( topic )">
                    {{topic.topicName}}
                  </div>
                }
              }
            </div>
          }
        </ng-template>
      </div>
    </div>
  </div>

</div>
