<div ngbAccordion>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Syllabus</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <select class="form-select"
                  [(ngModel)]="svc.selectedSyllabusName"
                  (ngModelChange)="svc.setSelectedSyllabusName( svc.selectedSyllabusName )">
            @let syllabusList = Object.values( svc.syllabusMap ) ;
            @for( syllabus of syllabusList; track syllabus.syllabusName ) {
              <option [value]="syllabus.syllabusName">{{syllabus.syllabusName}}</option>
            }
          </select>
        </ng-template>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Actions</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-info" style="width: 100%"
                        (click)="refreshInitializationData()">
                  <span class="bi-arrow-clockwise">&nbsp;</span>
                  <span class="bi-database"></span>
                </button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-sm btn-success"  style="width: 100%"
                        (click)="svc.recomputeExerciseDays()">
                  <span class="bi-arrow-clockwise">&nbsp;</span>
                  <span class="bi-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="areAllTopicsScheduled()" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Unassigned Topics</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if( svc.selectedSyllabus() ) {
            @let topics = Object.values( svc.selectedSyllabus().topicMap ) ;
            @let titleBgColor = svc.selectedSyllabus().colors.titleBackground ;

            <div class="unassigned-topic-list">
              @for( topic of topics; track topic.id ) {
                @if( !svc.selectedSyllabus().isTopicScheduled( topic ) ) {
                  <div class="unassigned-topic"
                       [style.background-color]="titleBgColor"
                       [dndDraggable]="topic.id"
                       [dndEffectAllowed]="'move'"
                       [dndType]="'topic'">
                    {{topic.topicName}}
                  </div>
                }
              }
            </div>
          }
        </ng-template>
      </div>
    </div>
  </div>

    @if( svc.selectedTopicSchedule != null ) {
      @let selTs = svc.selectedTopicSchedule ;
      @let titleBgColor = svc.selectedSyllabus()!.colors.titleBackground ;

      <div ngbAccordionItem [collapsed]="false" >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Selected Schdeule</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="sel-topic-name"
                   [style.background-color]="titleBgColor">
                {{selTs.topic.topicName}}
              </div>
              <div class="sel-schedule-edit-form">
                <div class="form-row">
                  <div class="field-label">Start buffer</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number" min="0"
                           [(ngModel)]="selTs.bufferLeft"
                           (ngModelChange)="selTs.numDaysEdited()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">Lead theory</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number" min="0"
                           [(ngModel)]="selTs.theoryMargin"
                           (ngModelChange)="selTs.numDaysEdited()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">Exercise</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number" min="0"
                           [(ngModel)]="selTs.exerciseDays"
                           (ngModelChange)="selTs.numDaysEdited()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">End buffer</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number" min="0"
                           [(ngModel)]="selTs.bufferRight"
                           (ngModelChange)="selTs.numDaysEdited()"> days
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    }

</div>

@if( svc.selectedSyllabus() ) {
  @if( svc.selectedSyllabus()!.isDirty() ) {
    <div class="save-changes">
      <button type="button" class="btn btn-sm btn-warning"
              (click)="svc.saveDirtyTracks()">Save changes</button>
    </div>
  }
}