@if( svc.selectedSyllabus() ) {
  @if( svc.selectedSyllabus()!.isDirty() ) {
    <div class="save-changes">
      <button type="button" class="btn btn-sm btn-warning"
              (click)="svc.saveDirtyTracks()">Save changes</button>
    </div>
  }
}

<div ngbAccordion>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Syllabus</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <select class="form-select" [(ngModel)]="svc.selectedSyllabusName">
            @let syllabusList = Object.values( svc.syllabusMap ) ;
            @for( syllabus of syllabusList; track syllabus.syllabusName ) {
              <option [value]="syllabus.syllabusName">{{syllabus.syllabusName}}</option>
            }
          </select>
        </ng-template>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="false" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Actions</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <!-- TODO: Refresh data -->
          <!-- TODO: Recompute exercise days -->
        </ng-template>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="hasAllTopicsScheduled()" >
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Unassigned Topics</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          @if( svc.selectedSyllabus() ) {
            @let topics = Object.values( svc.selectedSyllabus().topicMap ) ;
            @let titleBgColor = svc.selectedSyllabus().colors.titleBackground ;

            <div class="unassigned-topic-list">
              @for( topic of topics; track topic.id ) {
                @if( !svc.selectedSyllabus().isTopicScheduled( topic ) ) {
                  <div class="unassigned-topic"
                       [style.background-color]="titleBgColor"
                       [dndDraggable]="topic.id"
                       [dndEffectAllowed]="'move'"
                       [dndType]="'topic'">
                    {{topic.topicName}}
                  </div>
                }
              }
            </div>
          }
        </ng-template>
      </div>
    </div>
  </div>

    @if( svc.selectedTopicSchedule != null ) {
      @let selTs = svc.selectedTopicSchedule ;
      @let titleBgColor = svc.selectedSyllabus()!.colors.titleBackground ;

      <div ngbAccordionItem [collapsed]="false" >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Selected Schdeule</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="sel-topic-name"
                   [style.background-color]="titleBgColor">
                {{selTs.topic.topicName}}
              </div>
              <div class="sel-schedule-edit-form">
                <div class="form-row">
                  <div class="field-label">Start buffer</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number"
                           [(ngModel)]="selTs.bufferLeft"
                           (ngModelChange)="selTs.recomputeEndDate()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">Lead theory</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number"
                           [(ngModel)]="selTs.theoryMargin"
                           (ngModelChange)="selTs.recomputeEndDate()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">Exercise</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number"
                           [(ngModel)]="selTs.exerciseDays"
                           (ngModelChange)="selTs.recomputeEndDate()"> days
                  </div>
                </div>
                <div class="form-row">
                  <div class="field-label">End buffer</div>
                  <div class="separator"> : </div>
                  <div class="field-input">
                    <input type="number"
                           [(ngModel)]="selTs.bufferRight"
                           (ngModelChange)="selTs.recomputeEndDate()"> days
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    }

</div>
