<div class="topic-schedule"
     [class.topic-schedule-selected]="schedule().selected"
     [class.topic-schedule-current]="schedule().isCurrentlyActive()">

  <div class="topic-schedule-title"
       [style.background-color]="colors().titleBackground"
       [style.color]="colors().titleForeground"
       (click)="schedule().setSelected()">

    <span>{{ schedule().topic.topicName }}</span>

    <div class="topic-schedule-toolbar">

      @if( !schedule().track!.isFirstTrack() ) {
        <button type="button" class="btn btn-sm action-btn"
                (click)="schedule().track!.moveScheduleToPrevTrack( schedule() )">
          <span class="bi-arrow-left-short"></span>
        </button>
      }
      @if( !schedule().track!.isLastTrack() ) {
        <button type="button" class="btn btn-sm action-btn"
                (click)="schedule().track!.moveScheduleToNextTrack( schedule() )">
          <span class="bi-arrow-right-short"></span>
        </button>
      }
      @if( !schedule().isFirst() ) {
        <button type="button" class="btn btn-sm action-btn"
                (click)="schedule().track!.moveScheduleUp( schedule() )">
          <span class="bi-arrow-up-short"></span>
        </button>
      }
      @if( !schedule().isLast() ) {
        <button type="button" class="btn btn-sm action-btn"
                (click)="schedule().track!.moveScheduleDown( schedule() )">
          <span class="bi-arrow-down-short"></span>
        </button>
      }
      <button type="button" class="btn btn-sm action-btn"
              (click)="schedule().track!.removeSchedule( schedule() )">
        <span class="bi-x" style="color:red;"></span>
      </button>
    </div>
  </div>

  <div class="topic-schedule-body"
       [style.background-color]="colors().bodyBackground">

    <div class="date-range">
      <div class="start-date">{{ schedule().startDate | date:'MMM d, yy'}}</div>
      <div class="num-total-days">{{ schedule().numDays }} days</div>
      <div class="end-date">{{schedule().endDate | date:'MMM d, yy'}}</div>
    </div>

    <div class="days-breakup">
      <div><span class="num-days">{{ schedule().coachingNumDays   }}d</span> <span class="days-label">Coaching</span></div>
      <div><span class="num-days">{{ schedule().selfStudyNumDays }}d</span> <span class="days-label">Self Study</span></div>
      <div>
        <span class="num-days">{{ schedule().exerciseNumDays }}d</span>
        <span class="days-label">Exercise</span>&nbsp;
        <span class="bi-arrow-clockwise" style="font-size: 11px;"
              *ngIf="getNumExerciseDays() != getDefaultNumExerciseDays()"
              [style.color]="getDefaultNumExerciseDays() > getNumExerciseDays() ? 'green':'red'"
              (click)="recomputeExerciseDays()"></span>
      </div>
      <div><span class="num-days">{{ schedule().consolidationNumDays  }}d</span> <span class="days-label">Consolidation</span></div>
    </div>

    <div class="problem-counts">
      @let pc = schedule().topic.problemCounts ;

      <div class="total-problems">
        <div>&Sigma; Problems</div>
        <div>{{pc.numRemainingProblems}} / {{pc.numProblems}}</div>
        <div>
          <!--
          <button type="button" class="btn ex-recompute-btn btn-sm">
            <span class="bi-arrow-clockwise"></span>
          </button>
          <span style="width: 20px;display: inline-block;"></span>
          <button type="button" class="btn ex-recompute-btn btn-sm"
                  (click)="recomputeExerciseDays()">
            <span class="bi-arrow-clockwise"></span>
          </button>
          -->
        </div>
      </div>

      <div class="problem-type-counts">
        <div><span class="num-problems">{{getProblemCount( 'SCA', pc )}}</span> <span class="problem-type">SCA</span></div>
        <div><span class="num-problems">{{getProblemCount( 'MCA', pc )}}</span> <span class="problem-type">MCA</span></div>
        <div><span class="num-problems">{{getProblemCount( 'LCT', pc )}}</span> <span class="problem-type">LCT</span></div>
        <div><span class="num-problems">{{getProblemCount( 'ART', pc )}}</span> <span class="problem-type">ART</span></div>
      </div>

      <div class="problem-type-counts">
        <div><span class="num-problems">{{getProblemCount( 'MMT', pc )}}</span> <span class="problem-type">MMT</span></div>
        <div><span class="num-problems">{{getProblemCount( 'CMT', pc )}}</span> <span class="problem-type">CMT</span></div>
        <div><span class="num-problems">{{getProblemCount( 'NVT', pc )}}</span> <span class="problem-type">NVT</span></div>
        <div><span class="num-problems">{{getProblemCount( 'SUB', pc )}}</span> <span class="problem-type">SUB</span></div>
      </div>
    </div>

    <div class="burn-rate">
      <div>{{schedule().currentPhase}}</div>
      @if( schedule().getRequiredBurnRate() != -1 ) {
        <div>
          <span class="burn-rate-count">
            {{schedule().getRequiredBurnRate() | number:'1.0-0'}}
          </span>
        </div>
      }
      @else {
        <div>
          <span class="phase-name">---</span>
        </div>
      }
      <div></div>
    </div>
  </div>
</div>

<div *ngIf="schedule().interTopicGapNumDays > 0"
     class="inter-topic-gap"
     [class.inter-topic-gap-selected]="schedule().selected">
  {{schedule().interTopicGapNumDays}} days gap
</div>
