.topic-schedule {
    --topic-title-height: 28px;
    --topic-title-font-size: 15px;
    --date-height: 25px;
    --num-days-height: 40px;
    --body-height: calc( var(--date-height)*2 + var(--num-days-height)) ;

    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid #cacaca;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topic-schedule-title {
    width: 100%;
    height: var(--topic-title-height);
    font-size: var(--topic-title-font-size);
    font-weight:bold ;
    line-height: var(--topic-title-height);
    padding-left: var(--pad-lg) ;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.topic-schedule-body {
    width: 100%;
    display: block;
    padding-left: var(--pad-sm) ;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.topic-schedule-selected {
    border: 2px solid #ff7a7a;
}

.topic-schedule-current {
    box-shadow: 3px 3px 3px rgba(0, 0, 255, 0.65);
}

/* ------------------------------------------------------------------- */
/* Topic title bar buttons                                             */
/* ------------------------------------------------------------------- */
.topic-schedule-toolbar {
    float:right ;
    display: inline-block;
    vertical-align: middle;
}

.action-btn {
    display: inline-block;
    border: 1px outset #acacac;
    border-radius: 12px;
    padding: 0 3px 0 3px;
    margin: 0 5px 0 0 ;
    vertical-align: center;
    background-color: #e8e8e8;
}

/* ------------------------------------------------------------------- */
/* Date range and num days breakup                                     */
/* ------------------------------------------------------------------- */
.date-range {
    width: 105px;
    display: inline-block;
}

.start-date, .end-date {
    width: 100%;
    height: var(--date-height);
    line-height: var(--date-height);
    text-align: center;
    border-right: 1px solid #dddddd;
    color: blue ;
    font-family: monospace;
}

.num-total-days {
    text-align: center;
    height: var(--num-days-height);
    line-height: var(--num-days-height);
    font-size:18px;
    background-color: #ededed;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.days-breakup {
    width: 115px;
    height: var(--body-height);
    display: inline-block;
    vertical-align: top;
    background-color: #ededed;
    border-right: 1px solid #dddddd;
    margin-right: 5px ;
}

.days-breakup div {
    height: calc(var(--body-height) /4);
    border-bottom: 1px dashed #d3d1d1;
}

.num-days {
    width: 30px;
    text-align: right;
    font-size:11px;
    display: inline-block;
    font-family: monospace;
}

.days-breakup div:last-child {
    border-bottom: none;
}

.days-label {
    display: inline-block;
    font-size: 11px;
    padding-left: 10px;
}

/* ------------------------------------------------------------------- */
/* Num problems and breakup per types                                  */
/* ------------------------------------------------------------------- */
.problem-counts {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px ;
}

.total-problems {
    width: 100px;
    display: inline-block;
}

.total-problems div:first-child, .total-problems div:last-child {
    width: 100%;
    height: var(--date-height);
    line-height: var(--date-height);
    text-align: center;
    border-right: 1px solid #dddddd;
}

.total-problems div:nth-child(2) {
    text-align: center;
    height: var(--num-days-height);
    line-height: var(--num-days-height);
    font-size:18px;
    background-color: #d9fad4;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.problem-type-counts {
    width: 110px;
    height: var(--body-height);
    display: inline-block;
    vertical-align: top;
    background-color: #d9fad4;
    border-right: 1px solid #dddddd;
}

.problem-type-counts div {
    height: calc(var(--body-height) /4);
    border-bottom: 1px dashed #d3d1d1;
}

.problem-type-counts div:last-child {
    border-bottom: none;
}

.num-problems {
    width: 60px;
    text-align: right;
    font-size:11px;
    display: inline-block;
    font-family: monospace;
}

.problem-type {
    display: inline-block;
    font-size: 11px;
    padding-left: 15px;
}

/* ------------------------------------------------------------------- */
/* Burn rate                                                           */
/* ------------------------------------------------------------------- */
.burn-rate {
    display: inline-block;
    width: 80px;
    vertical-align: top;
    margin-right: 5px ;
}

.burn-rate div:first-child, .burn-rate div:last-child {
    width: 100%;
    height: var(--date-height);
    line-height: var(--date-height);
    text-align: center;
}

.burn-rate div:nth-child(2) {
    text-align: center;
    height: var(--num-days-height);
    background-color: #fde1b7;
    border: 1px solid #ffc698;
}

.phase-name {
    text-align: center;
    font-size: 15px;
    line-height: var(--num-days-height);
}

.burn-rate-count {
    font-size: 25px;
}

/* ------------------------------------------------------------------- */
/* Recompute exercise days buttons.                                    */
/* ------------------------------------------------------------------- */
.ex-recompute-btn {
    padding: 0 10px 0 10px ;
    height: 20px;
    background-color: #dadada;
}

.ex-recompute-btn span {
    padding: 0 ;
    margin: 0 ;
}

/* ------------------------------------------------------------------- */
/* Inter topic gap rendering.                                          */
/* ------------------------------------------------------------------- */
.inter-topic-gap {
    width: 100%;
    background-color: #c5c5c5;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    vertical-align: center;
}

.inter-topic-gap-selected {
    border: 1px solid #ff7a7a;
}

