.toolbar-checkbox {
    display: inline-block;
    padding-left: 10px;
    font-size: 13px;
    color: black;
}

.action-dropdown > button {
    padding: 2px 5px 2px 5px;
}

.action-dropdown button:hover {
    background-color: #818181;
}

.action-dropdown * {
    font-size: 13px;
    background-color: #6b6b6b;
    color: white;
}

