<div class="question-palette">
  <div class="attempt-stat-panel">
    <table class="table table-borderless">
      <thead>
      <tr>
        <td class="stat-icon">
          <span class="test-ques-stats q-not-visited">
            {{getNumNotVisitedQuestions()}}
          </span>
        </td>
        <td class="stat-descr">Not Visited</td>
        <td class="stat-icon">
          <span class="test-ques-stats q-not-answered">
            {{getNumNotAnsweredQuestions()}}
          </span>
        </td>
        <td class="stat-descr">Not Answered</td>
      </tr>
      <tr>
        <td class="stat-icon">
          <span class="test-ques-stats q-answered">
            {{getNumAnsweredQuestions()}}
          </span>
        </td>
        <td class="stat-descr">Answered</td>
        <td class="stat-icon">
          <span class="test-ques-stats q-marked-for-review">
            {{getNumMarkedForReviewQuestions()}}
          </span>
        </td>
        <td class="stat-descr">Marked for Review</td>
      </tr>
      <tr>
        <td class="stat-icon">
          <span class="test-ques-stats q-ans-marked-for-review">
            {{getNumAnsweredAndMarkedForReviewQuestions()}}
          </span>
        </td>
        <td colspan="3" class="stat-descr">
          Answered &amp; Marked for Review (will be considered for evaluation)
        </td>
      </tr>
      </thead>
    </table>
  </div>
  <div class="question-nav-panel">
    @for( q of examSvc.questions; track $index ) {
      <div class="test-ques"
           [ngClass]="getQuestionStatusClass( q )"
           (click)="displayQuestion(q)">
        {{ q.index.toString().padStart(2, '0') }}
      </div>
    }
  </div>
</div>
