:root {
  --page-header-bgcolor   : #4a4a4a;
  --page-header-height    : 42px ;
  --feature-menubar-width : 50px ;
  --body-background       : #f1f1f1;
  --body-foreground       : #1f1f1f ;
  --page-title-height     : 30px ;
  --page-title-bgcolor    : var( --page-header-bgcolor );
  --page-title-fgcolor    : white ;
  --page-toolbar-height   : 33px ;
  --page-toolbar-bgcolor  : #9d9d9d;
  --page-toolbar-fgcolor  : white ;
}

.alert {
  --bs-alert-padding-x    : 5px ;
  --bs-alert-padding-y    : 3px ;
  --bs-alert-margin-bottom: 5px ;
  padding-left: 35px;
}

.alert-dismissible .btn-close {
  padding : 6px;
  left: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/core-assets/fonts/quicksand-v9-latin-regular.eot');
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
  url('/core-assets/fonts/quicksand-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('/core-assets/fonts/quicksand-v9-latin-regular.woff2') format('woff2'),
  url('/core-assets/fonts/quicksand-v9-latin-regular.woff') format('woff'),
  url('/core-assets/fonts/quicksand-v9-latin-regular.ttf') format('truetype'),
  url('/core-assets/fonts/quicksand-v9-latin-regular.svg#Quicksand') format('svg');
}

body {
  font-family: Quicksand, serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #333131;
}

.feature-page-body {
  position : absolute ;
  left: var(--feature-menubar-width) ;
  top: var(--page-header-height) ;
  width: calc(100vw - var(--feature-menubar-width)) ;
  height: calc(100vh - var(--page-header-height)) ;
  overflow-y: auto ;
  font-size: 13px ;
  padding: 0 0 0 0 ;
  color: var(--body-foreground) ;
  background-color: var(--body-background) ;
}

.page-content {
  padding: 5px 5px 5px 5px;
}

.number {
  font-family: "Courier", serif;
  text-align: right;
}

.total-row td {
  background-color: #f6f5f5 !important;
  color:blue!important;
}

.total-col {
  color:blue!important;
}