input[type="text"] {
    width: 100%;
    background-color: rgba(173, 206, 255, 0.33);
    border-width: 1px;
    border-color: rgba(173, 206, 255);
}

.number {
    font-family: "Courier", serif;
    text-align: right;
}

.book-detail-icon {
    text-align: center;
    color: blue;
}