<table class="table table-sm table-striped" style="margin: 0 auto;">
  <thead>
  <th style="width:100px">Subject</th>
  <th style="width:250px">Series</th>
  <th style="width:300px">Short Name</th>
  <th>Book Name</th>
  <th style="width:200px">Author</th>
  <th style="width:100px"># Chapters</th>
  <th style="width:100px"># Problems</th>
  </thead>
  <tbody>
    @for( book of bookSummaries; track book.id ) {
      <tr>
        <td>{{book.subjectName}}</td>
        <td>
          <editable-input [target]="book" attribute="seriesName"
                          (save)="attributeChanged( $event )"/>
        </td>
        <td>
          <editable-input [target]="book" attribute="bookShortName"
                          (save)="attributeChanged( $event )"/>
        </td>
        <td>
          <editable-input [target]="book" attribute="bookName"
                          (save)="attributeChanged( $event )"/>
        </td>
        <td>
          <editable-input [target]="book" attribute="author"
                          (save)="attributeChanged( $event )"/>
        </td>
        <td>{{book.numChapters}}</td>
        <td>{{book.numProblems}}</td>
      </tr>
    }
  </tbody>
</table>
