<div class="wizard-dialog"
     style="width: 300px;">
  <div class="card border-default question-card">
    <div class="card-header">
      Select exam type
      <span class="wizard-step">[ Step 1/4 ]</span>
    </div>
    <div class="card-body">
      <div role="radiogroup" class="radio-group">
        <label class="radio-option" *ngFor="let opt of examTypeOptions">
          <input
              type="radio"
              name="examType"
              [value]="opt.value"
              [(ngModel)]="examSetupSvc.examSetupConfig.examType"
          />
          {{ opt.label }}
        </label>
      </div>
    </div>
    <div class="card-footer">
      <button type="button"
              class="btn btn-info wizard-btn"
              (click)="showNextDialog()">
        Next
      </button>
    </div>
  </div>
</div>