h2 {
    font-size: 25px;
    text-align: center;
}

table {
    width: fit-content;
    margin:auto;
}

th {
    text-align: right;
}

td {
    text-align: right;
    font-family: "Courier New", serif;
    padding: 0.15rem;
}

button {
    display: block;
    margin: auto ;
}