<div class="page-content">
  <h2>Exam attempt history</h2>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th style="width: 35px;">ID</th>
        <th style="width:65px;" (click)="sortByColumn( 'type' )">
          Type
          <col-sorter [sortDir]="sortDirMap['type']"></col-sorter>
        </th>
        <th style="width:140px;" (click)="sortByColumn( 'date' )">
          Attempt Date
          <col-sorter [sortDir]="sortDirMap['date']"></col-sorter>
        </th>
        <th style="width:70px;" (click)="sortByColumn( 'duration' )">
          Dur.
          <col-sorter [sortDir]="sortDirMap['duration']"></col-sorter>
        </th>
        <th style="width:55px;" (click)="sortByColumn( 'numPhyQ' )">
          P#
          <col-sorter [sortDir]="sortDirMap['numPhyQ']"></col-sorter>
        </th>
        <th style="width:55px;" (click)="sortByColumn( 'numChemQ' )">
          C#
          <col-sorter [sortDir]="sortDirMap['numChemQ']"></col-sorter>
        </th>
        <th style="width:55px;" (click)="sortByColumn( 'numMathQ' )">
          M#
          <col-sorter [sortDir]="sortDirMap['numMathQ']"></col-sorter>
        </th>
        <th style="width:70px;" (click)="sortByColumn( 'score' )">
          Score
          <col-sorter [sortDir]="sortDirMap['score']"></col-sorter>
        </th>
        <th style="width:65px;" (click)="sortByColumn( 'totalMarks' )">
          Total
          <col-sorter [sortDir]="sortDirMap['totalMarks']"></col-sorter>
        </th>
        <th style="width:65px;" (click)="sortByColumn( 'avoidableLossPct' )">
          AL%
          <col-sorter [sortDir]="sortDirMap['avoidableLossPct']"></col-sorter>
        </th>
        <th style="width:30px;"></th>
        <th (click)="sortByColumn( 'note' )">
          Note
          <col-sorter [sortDir]="sortDirMap['note']"></col-sorter>
        </th>
      </tr>
    </thead>
    <tbody>
      @for( attempt of attemptList; track attempt.id ) {
        <tr>
          <td class="number-cell">{{attempt.exam.id}}</td>
          <td>{{attempt.exam.type}}</td>
          <td class="date-cell">{{attempt.attemptDate | date:'YYYY/MM/dd HH:mm':'IST'}}</td>
          <td class="date-cell">{{attempt.exam.duration*1000 | duration}}</td>
          <td class="number-cell">{{attempt.exam.numPhyQuestions}}</td>
          <td class="number-cell">{{attempt.exam.numChemQuestions}}</td>
          <td class="number-cell">{{attempt.exam.numMathQuestions}}</td>
          <td class="number-cell">{{attempt.score}}</td>
          <td class="number-cell">{{attempt.exam.totalMarks}}</td>
          <td class="number-cell">{{attempt.avoidableLossPct | number : '2.1-1'}} %</td>
          <td class="btn-cell">
            <span class="bi-pencil-square btn-icon"
                  style="color: blue;"
                  (click)="analyzeAttempt( attempt )"></span>
          </td>
          <td>{{attempt.exam.note}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

