<div id="question-action-panel-left">
  <button type="button" class="action-btn action-btn-outline" id="mark-review-btn"
          (click)="markForReviewAndNext()">
    Mark for Review &amp; Next
  </button>
  <button type="button" class="action-btn action-btn-outline" id="clear-response-btn"
          (click)="clearResponse()">
    Clear Response
  </button>
</div>
<div id="question-action-panel-right">
  @if( examSvc.activeQuestion !== examSvc.activeSection?.firstQuestion ) {
    <button type="button" class="action-btn action-btn-outline" id="previous-btn"
            (click)="previous()">
      Previous
    </button>
  }
  <button type="button" class="action-btn action-btn-solid" id="save-next-btn"
          (click)="saveAndNext()">
    Save &amp; Next
  </button>
</div>
