.problem-attempt-table {
    width: auto;
    margin: 0 auto ;
}

.button-bar {
    text-align: center;
    margin-top: 10px;
}

.button-bar > button {
    margin: 5px;
}

.problem-rating {

    margin: 15px auto 10px auto;
    text-align: center;
    height: 50px;
    width: 100%;

    font-size: 30px;
    font-weight: lighter;
    color: #333131;
}

i {
    padding-right: 0.1rem;
    color: #323232;
}

.filled {
    color: #1e90ff;
}

.filled.easy {
    color: #22bc7a;
}

.filled.moderate {
    color: #ea932f;
}

.filled.hard {
    color: #ea2020;
}

.mono-font {
    font-family: "Courier", Courier, monospace;
}

.icon-green {
    color: green ;
}

