@if( problem() != null ) {

  <table class="table table-sm problem-attempt-table">
    <thead>
    <tr>
      <th style="width: 100px;">Date</th>
      <th style="width: 75px;">Start</th>
      <th style="width: 75px;">End</th>
      <th style="width: 75px;">Duration</th>
      <th style="width: 150px;"></th>
      <th style="width: 30px;"></th>
      <th style="width: 150px;"></th>
      <th style="width: 30px"></th>
    </tr>
    </thead>
    <tbody>
      @for( pa of problemAttempts.value(); track pa.id ) {
        <tr>
          <td class="mono-font">{{pa.startTime | date:'dd/MMM/yy'}}</td>
          <td class="mono-font">{{pa.startTime | date:'HH:mm'}}</td>
          <td class="mono-font">{{pa.endTime | date:'HH:mm'}}</td>
          <td class="mono-font">{{pa.effectiveDuration*1000 | duration}}</td>
          <td><span [ngClass]="SConsoleUtil.getProblemIcon(pa.prevState)">&nbsp;</span> {{pa.prevState}}</td>
          <td><span class="bi-arrow-right"></span></td>
          <td><span [ngClass]="SConsoleUtil.getProblemIcon(pa.targetState)">&nbsp;</span> {{pa.targetState}}</td>
          <td>
            <span style="color:red;" class="bi-trash" (click)="deleteProblemAttempt( pa )"></span>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="problem-rating">
    <ngb-rating [(rate)]="problem()!.difficultyLevel"
                [max]="10"
                (rateChange)="problemRatingChanged()">
      <ng-template let-fill="fill" let-index="index">
        <i class="bi-star{{ fill === 100 ? '-fill' : '' }}"
           [class.filled]="fill === 100"
           [class.easy]="index < 3"
           [class.moderate]="index >= 3 && index <= 6"
           [class.hard]="index > 6"
        >&nbsp;&nbsp;</i>
      </ng-template>
    </ngb-rating>
  </div>

}
