<page-toolbar>
  <toolbar-action type="button"
                  name="Import"
                  icon="cloud-arrow-down"
                  (click)="importDialogVisible=true">
  </toolbar-action>
  <toolbar-action type="button"
                  name="Download"
                  icon="box-arrow-down"
                  (click)="downloadFlashCards()">
  </toolbar-action>
</page-toolbar>

<div class="left-panel">
  <div class="compounds-meta-list">
    <table class="table table-sm">
      <thead>
      <tr>
        <th style="width: 50px;">
          <input type="checkbox"
                 [(ngModel)]="selectAll"
                 (change)="selectAllOptionChanged()">
          <span class="bi-download" style="padding-left:5px;font-size: 10px;"></span>
        </th>
        <th style="width: 250px;">
          <input class="name-filter" type="text"
                 (input)="nameFilterChanged( $event )">
        </th>
        <th style="width: 150px;">Formula</th>
        <th style="width: 400px;">IUPAC Name</th>
        <th style="width: 150px;text-align: right;">Mol Wt.</th>
        <th style="width: 30px;"></th>
        <th style="width: 30px;"></th>
      </tr>
      </thead>
      <tbody>
        @for( c of allCompounds; track c.id ) {
          @if( c.visible ) {
            <tr (click)="compoundSelected( c )"
                [class.compound-selected]="c.selected">
              <td><input type="checkbox" [(ngModel)]="c.selectedForCardDownload"></td>
              <td>{{c.commonName}}</td>
              <td><div [mathjax]="'\\( \\ce{' + c.compactFormula + '}\\)'"></div></td>
              <td>{{c.iupacName}}</td>
              <td class="number">{{c.molecularWeight}}</td>
              <td style="text-align: center;">
                <span class="bi-pencil" (click)="showEditDialog( c )"></span>
              </td>
              <td style="text-align: center;color:red;">
                <span class="bi-trash" (click)="deleteCompound( c )"></span>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<div class="right-panel">
  <div class="compound-info">
    @if( selectedCompound != null ) {
      <span class="common-name">{{selectedCompound!.commonName}} :</span>
      <span class="formula" [mathjax]="'\\( \\ce{' + selectedCompound!.compactFormula + '}\\)'"></span>
    }
  </div>
  <div class="viewer-2d">
    @if( selectedCompound != null ) {
      <img [src]="'/chem-compound-img/' + selectedCompound!.chemSpiderId + '.dark.png'">
    }
  </div>
  <div class="viewer-3d">
    <mol-viewer [mol3D]="selectedCompound == null ? '' : selectedCompound.mol3D"></mol-viewer>
  </div>
</div>

<!-- The import compound dialog -->
<import-dialog [show]="importDialogVisible"
               (cancel)="importDialogVisible=false"
               (save)="handleImportedCompound( $event )">
</import-dialog>

<!-- The edit compound dialog -->
<edit-dialog [compound]="editableCompound"
             (save)="editingSaved( $event )"
             (cancel)="editingCancelled()">
</edit-dialog>
