<div id="game">
    <span class="left">Seconds left: {{timeLeft}}</span>
    <span class="correct">Score: {{numCorrect}}</span>
    <div class="banner">
        <span class="problem">
            {{ currentQuestion?.stringifyQuestion() }}
        </span>
        <span class="equals">
            =
            </span>
        <div class="answer">
            <input #answerTextField
                   type="number"
                   [ngModel]="typedAnswer"
                   (ngModelChange)="answerTyped($event)">
            {{ answerTextField.focus() }}
        </div>
    </div>
</div>