
.page-header {
    width: 100%;
    height: var( --page-header-height ) ;
    background: var( --page-header-bgcolor ) ;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}

.header-title {
    color: #bdbdbd;
    font-weight: normal;
}