input[type="text"] {
    width: 100%;
    background-color: rgba(173, 206, 255, 0.33);
    border-width: 1px;
    border-color: rgba(173, 206, 255);
}

.number {
    font-family: "Courier", serif;
    text-align: right;
}

.book-detail-icon {
    text-align: center;
    color: blue;
}

.selected-row td {
    background-color: rgb(255, 245, 220);
}

.book-listing-table td, th {
    border-right: 1px solid #e0e0e0;
    padding: 5px 10px 5px 10px;
}