<page-toolbar>
  <toolbar-action name="File upload"
                  icon="upload"
                  (click)="uploadFileBtnClicked()"></toolbar-action>
  <toolbar-action name="Map Topics"
                  icon="tags"
                  (click)="showMapTopicsPage()"></toolbar-action>
</page-toolbar>
<div class="page-content">
  <table class="table table-sm table-striped book-listing-table">
    <thead>
    <tr>
      <th style="width: 20px;text-align: center;">
        <input type="checkbox"
               (change)="toggleAllRowsSelection( $event )"
               [indeterminate]="isIndeterminateRowSelection()">
      </th>
      <th style="width: 40px;"></th>
      <th style="width:80px">Subject</th>
      <th style="width:120px">Syllabus</th>
      <th style="width: 20px;"></th>
      <th style="width:250px">Short Name</th>
      <th style="width:50px;text-align: right;"># Ch</th>
      <th style="width:75px;text-align: center;"># Pr</th>
      <th style="width:200px">Series</th>
      <th style="width:125px">Author</th>
      <th>Book Name</th>
    </tr>
    </thead>
    <tbody>
      @for( book of bookSummaries; track book.id ) {
        <tr [ngClass]="book.selected?'selected-row':''">
          <td>
            <input type="checkbox" [(ngModel)]="book.selected"/>
          </td>
          <td class="book-detail-icon">
            <a [routerLink]="['../book-detail',book.id]">
              <span class="bi-list-columns"></span>
            </a>
          </td>
          <td>{{book.subjectName}}</td>
          <td (dblclick)="syllabusSelected(book.syllabusName)">
            {{book.syllabusName || "---" }}
          </td>
          <td>
            <span class="bi-check-circle"
                  style="color: green"
                  *ngIf="book.topicMappingDone"></span>
          </td>
          <td (dblclick)="book.selected = !book.selected">
            <editable-input [target]="book" attribute="bookShortName"
                            (save)="saveChangedAttribute( $event )"/>
          </td>
          <td class="number">{{book.numChapters}}</td>
          <td class="number">{{book.numProblems}}</td>
          <td (dblclick)="seriesSelected(book.seriesName)">
            <editable-input [target]="book" attribute="seriesName"
                            (save)="saveChangedAttribute( $event )"/>
          </td>
          <td>
            <editable-input [target]="book" attribute="author"
                            (save)="saveChangedAttribute( $event )"/>
          </td>
          <td>
          <editable-input [target]="book" attribute="bookName"
                            (save)="saveChangedAttribute( $event )"/>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

